spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowMultiQueries=true&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-test-query: SELECT 1 FROM DUAL
      connection-timeout: 30000
      maximum-pool-size: 20
      max-lifetime: 1800000
      minimum-idle: 5
  redis:
    database: 7
    host: localhost
    port: 6379
    password:
    timeout: 10000
    jedis:
      pool:
        max-active: 500
        max-wait: 1000
        max-idle: 100
        min-idle: 0
        time-between-eviction-runs: 30000
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # 开启从注册中心动态创建路由的功能，利用微服务名称进行路由
      #路由设置
      routes:
        - id: test_route
          uri: lb://qiuhuu-test
          predicates:
            - Path=/test/**
          filters:
            - StripPrefix=1
            - name: Hystrix
              args:
                name: testFallback
                fallbackUri: forward:/fallback/test
#            # redis限流 ， filter名称必须是RequestRateLimiter
#            - name: RequestRateLimiter
#              args:
#                # 使用SpEL名称引用Bean，与上面新建的RateLimiterConfig类中的bean的name相同
#                key-resolver: '#{@ipKeyResolver}'
#                # 每秒最大访问次数
#                redis-rate-limiter.replenishRate: 100
#                # 令牌桶最大容量
#                redis-rate-limiter.burstCapacity: 200
